.panel-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 2em;
    padding-bottom: 2em;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2em;
    
}
.card{
    border:solid 1.5px #b0bd41;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    width: 30% !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.card:hover{
    transform: scale(1.1);
    }


.card-inicio{
    border:solid 1.5px #b0bd41;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    width: 45% !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-inicio:hover{
    transform: scale(1.1);
    }
.card-img-top{
    border-radius: 10px 10px 0 0;
    height: 200px;
}
.card-text-scroll{
    max-height: 5em; /* Altura máxima antes de que aparezca el scroll */
    overflow-y: auto; 
}
.btn{
    background-color: #b0bd41;
    border: none;
}
.btn:hover{
    background-color: #e4f362;
    color: rgb(104, 54, 161);
    font-weight: bold;

}

@media  screen and (max-width: 768px){

.card{
    width: 80% !important;}
.card-inicio{
    width: 80% !important;
}

}
